{% extends "businesslocation/base.html" %}
{%load staticfiles %}

{% block content %}
<div>
	<div>
		<h2>the Lorem ipsum:</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id pulvinar mi. Maecenas scelerisque diam vitae massa eleifend, in venenatis orci porttitor. Donec gravida massa sit amet luctus blandit. Fusce tincidunt dolor at laoreet pellentesque. Vestibulum ut leo diam. Morbi convallis, enim ullamcorper venenatis tristique, augue elit laoreet enim, id laoreet
		</p> 
	</div>
	<div>
		<h2>the Lorem ipsum:</h2>
		nulla metus eget risus. Phasellus viverra, ipsum in tincidunt pharetra, lorem orci auctor dolor, eu tempus metus enim at enim. Morbi aliquam, sapien ac luctus vulputate, nulla justo egestas eros, ut tempor ipsum diam vel quam. Pellentesque pulvinar arcu at augue dignissim, blandit bibendum ligula faucibus. Vivamus nec arcu a massa interdum pellentesque at sit amet 
	</div>

	<div>
		<h2>the Lorem ipsum:</h2>
		<p>
			metus. Proin ultrices massa non justo suscipit volutpat. Nullam eu mauris at magna porta laoreet a eu libero. Quisque sed ipsum vitae turpis vulputate tempor eleifend a ligula. Donec viverra, nunc eu sodales aliquam, sapien augue faucibus nisi, sed mattis lacus leo ac massa.
		</p>
	</div>

</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/infopages.css' %}">
{% endblock %}