{% extends "mail_list/base.html" %}
{%load staticfiles %}

{% block content %}
<div>
	<div>
		<h2 class="text_head">Customer Understanding and Planning:</h2>
		<p class="text_">
			We want every night to be an epic one. We do this by helping you make strategic choices  based, on timing and quantifiable feedback. The results are  answers to  questions like; how successful are daily operations, how likely are first time customers, who came during a special, likely to return, to bring friends, What is my geographic customer base, am i reaching an optimum number of my prime customers, Plus many more.
		</p> 
	</div>

	<div><q class="text_quote">quantifiable feedback</q></div>

	<div>
		<h2 class="text_head">What Sets Us Apart:</h2>
		<p class="text_">
			We are number driven. Everything has to be quantifiable consistently in some way. Some numbers are more accurate than others but together the create a tapestry of what your business is doing compared to what it can do.
		</p>
	</div>

	<div><q class="text_quote">quantifiable consistently</q></div>

</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/infopages.css' %}">
{% endblock %}