{% extends "businesslocation/base.html" %}
{%load staticfiles %}

{% block content %}
<div>
	<div>
		<h2>Who We Are:</h2>
		<p>
			We are Avid Bar and Restaurant goers, who love when an establishment gets it right (Social Gastronomers ). We love going out , experiencing the atmosphere eating with old friends, drinking with new friends and tasting the adventure of life.
		</p> 
	</div>

<div>
	<h2>Muammar 'Mujo' Johnson: Founder/CEO</h2>
	<img src="">
	<p>
		A Native of New York, Muammar had the privilege of joining the US NAVY, where he learned leadership through experience and observation. After completing his service with an honorable discharge, Muammar sought to continue his journey of improvement with college. He is currently completing his final year of Biomedical Engineering, with a focus on Informatics at Drexel University.
	</p>
</div>

</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/infopages.css' %}">
{% endblock %}